@import url("https://fonts.googleapis.com/css?family=Lato:wght@400,500,600,700&display=swap");

:root {
  --font-family: "Lato", sans-serif;

  --color-bg: #ffffff;
  --color-main: #c59ff5;
  --color-text: #000000;
  --color-subText: #898989;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #898989;
  --color-red: #fa4444;

  --color-label-PERSON: #c59ff5;
  --color-label-ORG: #43c6fc;
  --color-label-LANGUAGE: #a0e419;
  --color-label-LOC: #ffcc00;
}
